<a href="https://colab.research.google.com/github/Khushu308/LetsUpgrade-python/blob/master/Khushu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List and its Functions

In [ ]:
print("hii! Its khushbpo")
print("Day 2 Assignment 1")
#list and its default functions
lst=[10,20,30,40]
print(lst)
lst.append(50)
lst.append(10)
print("count 0f 10 is",lst.count(10))
print(lst)
l=[1,2,3,4,5]
print(l)
l.extend(lst)
print("Extended List",l)
l.reverse()
print("Reverse List",l)
lst.pop()
print(lst)
l.sort()
print(l)

hii! Its khushbpo
Day 2 Assignment 1
[10, 20, 30, 40]
count 0f 10 is 2
[10, 20, 30, 40, 50, 10]
[1, 2, 3, 4, 5]
Extended List [1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 10]
Reverse List [10, 50, 40, 30, 20, 10, 5, 4, 3, 2, 1]
[10, 20, 30, 40, 50]
[1, 2, 3, 4, 5, 10, 10, 20, 30, 40, 50]

# Dictionary functions

In [ ]:
d1={1:"One",2:"Two",3:"Three"}
print(d1)
print("Last value is",d1.get(2))
print("All keys",d1.keys())
print("All values",d1.values())
print("popped item",d1.pop(1))
print(d1)
d1.clear()
print(d1)

{1: 'One', 2: 'Two', 3: 'Three'}
Last value is Two
All keys dict_keys([1, 2, 3])
All values dict_values(['One', 'Two', 'Three'])
popped item One
{2: 'Two', 3: 'Three'}
{}

# Sets and its functions

In [ ]:
s1={1,2,3,4,5,3,4,4}
s1.add(6)
print(s1)
s2={"a","b","c","d"}
s2.update("e")
print(s2)
print("Union",s1.union(s2))
print("Intersection",s1.intersection(s2))
print("Difference",s1.difference(s2))
print("length is",len(s1))
print('Maximum is',max(s1))
print('Minimum is',min(s1))

{1, 2, 3, 4, 5, 6}
{'c', 'd', 'e', 'a', 'b'}
Union {1, 2, 3, 4, 5, 6, 'c', 'd', 'e', 'a', 'b'}
Intersection set()
Difference {1, 2, 3, 4, 5, 6}
length is 6
Maximum is 6
Minimum is 1

# Tuple and Methods

In [ ]:
t1=(1,2,3,4,5,6)
t2=(10,20,30,40)
print(t1)
print(t2)
t3= t1 + t2
print(t3)
print("length is",len(t3))
print('Maximum is',max(t3))
print('Minimum is',min(t3))
print('Index of 30 is',t3.index(30))

(1, 2, 3, 4, 5, 6)
(10, 20, 30, 40)
(1, 2, 3, 4, 5, 6, 10, 20, 30, 40)
length is 10
Maximum is 40
Minimum is 1
Index of 30 is 8

# Strings

In [ ]:
a="I am khushboo patil"
b="i am a diploma student"
print(type(a))
print("length is",len(a))
print('Maximum is',max(a))
print(a + " " + b)
print(a.find('k'))
print(a.islower())
print(a.isnumeric())

<class 'str'>
length is 19
Maximum is u
I am khushboo patil i am a diploma student
5
False
False